.SideBar {
  width: 15%;
  height: 100%;
  font-family: "Roboto";
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-top: 5%;
  min-height: 50vh;
  box-sizing: border-box;
  border: 2px solid grey/300;
  background-color: white;
  min-height: 100%;
  padding: 10% 0%;
  border-top-right-radius: 12px;
}
.SideBar-Title {
  font-size: 1.8rem;
  text-decoration: underline blue;
  height: 15%;
  color: black;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.SideBar-Options {
  display: flex;
  height: 50%;
  min-height: 300px;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}

.SideBar-Options-Box {
  width: 80%;
  height: 20%;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  background-color: gray;
  color: black;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-height: 35px;
  font-family: "Roboto";
  font-size: 1.3rem;
}
.SideBar-Options-Box:first-child {
  background-color: #2196f3;
  color: white;
}
