@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
nav {
  width: 100%;
  height: 10%;
  position: fixed;
  top: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 2px solid gray;
  padding: 5px 15px;
  color: black;
  background-color: white;
}
.company {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  padding: 5px 15px;
}
.company-brand {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Roboto";
  font-size: 1.8rem;
  justify-self: flex-start;
}
.menu-options {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

.Logout {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.Logout img {
  max-height: 70%;
  width: auto;
  border-radius: 50%;
}
