body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  background-color: #1976d2;
  background-image: none;
  color: white;
}

.title {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 10px;
  font-size: 30px;
}

.box {
  margin-right: 5%;
  margin-top: 3%;
}

.floatingButton {
  margin-top: 12%;
  display: flex;
  justify-content: left;
  position: fixed;
}

.Bottom {
  margin-left: 7%;
}

.Footer {
  position: absolute;
  bottom: 7%;
  width: 100%;
  height: 40px;
}

.header {
  background-color: #b9b9c4;
  height: 70px;
  align-content: center;
  padding-left: 5%;
}

.items {
  height: 70px;
  align-content: center;
  padding-left: 5%;
}
